﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<p>Ajax Demo content: <span id="ajaxcontent"></span></p>
<script>
   
    $(document).ready(function () {
        $.post('@Url.Action("AjaxDemo", "Home")', function (response) {
            debugger;
            $("#ajaxcontent").html(response.data);
        });
    });
</script>