﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<p>Ajax Demo content: </p>
<div>
    <span id="ajaxcontent"></span>
</div>
<script>
   
    $(document).ready(function () {
        $.post('@Url.Action("Hello", "AjaxDemo")', function (response) {
            $("#ajaxcontent").html(response.data);
        });
    });
</script>